* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: water;
  src: url('./Fonts//WaterResistant.ttf');
}


/* ISLAND ANIMATION */

body {
  --animation-speed: 30s;
}

.islandPage {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 96vh;
  position: relative;
  width: 100%;
  background-color: #101024;

  overflow: hidden;
}

/* Island Waves  */

.islandPage .waves {
  position: relative;
  width: 100%;
}

.islandPage .waves .wave {
  /* border: 2px solid blue; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8.5vh;
  background-image: url(./Images/oceanWave.png);
  background-size: 1000px 70px;
}

.islandPage .waves .wave#waveOne {
  /* border: 2px solid green; */
  opacity: 0.5;
  z-index: 80;
  animation: oceanWaves 4s linear infinite;
  /* original 4s */
}

.islandPage .waves .wave#waveTwo {
  /* border: 2px solid gold; */
  opacity: 0.5;
  z-index: 60;
  animation: oceanWaves2 4s linear infinite;
  /* original 4s */
}

.islandPage .waves .wave#waveThree {
  /* border: 2px solid gold; */
  opacity: 0.2;
  z-index: 40;
  animation: oceanWaves 3s linear infinite;
  /* original 2s */
}

.islandPage .waves .wave#waveFour {
  /* border: 2px solid gold; */
  opacity: 0.7;
  z-index: 20;
  animation: oceanWaves2 2s linear infinite;
  /* original 2s */
}

@keyframes oceanWaves {
  0% {
    background-position-x: 1000px;
  }

  100% {
    background-position-x: 0px;
  }
}

@keyframes oceanWaves2 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px
  }
}

.stars {
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  mix-blend-mode: screen;
}

.island {
  /* border: 2px solid magenta; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vh;
  max-width: 90vw;
  bottom: 0;
}



/* ****************** TITLEs ***************** */
h1 {
  position: absolute;
  bottom: 80vh;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 10vw;

  font-weight: 800;
  text-transform: uppercase;
}

.logoContainer {
  /* height: 125px; */
  height: 20vh;
  position: absolute;
  left: 10vw;
  bottom: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.alias {
  text-align: center;
  color: white;
  font-size: 4vh;
  font-weight: 800;
}

.titleBen {
  animation: linear titleName infinite var(--animation-speed);
}

.titleStingray {
  animation: linear titleAlias infinite var(--animation-speed);
}

@keyframes titleName {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes titleAlias {
  0% {
    opacity: 0;
  }

  58% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}




/* ************** sky animation ****************** */

.skyPhase {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s;
}

.skyDawn {
  background: linear-gradient(0deg, #ff5900 0%, #fed766 30%, #cdedf6 100%);
  animation: linear dawn infinite var(--animation-speed);
}

.skyNoon {
  /* background: linear-gradient( 0deg,#cdedf6 0%, #247ba0 100% ); */
  background: linear-gradient(0deg, #cdedf6 0%, #3b84cd 100%);
  animation: linear noon infinite var(--animation-speed);
}

.skyDusk {
  background: linear-gradient(0deg, #ff206e 0%, #0a005e 100%);
  animation: linear dusk infinite var(--animation-speed);
}

.skyMidnight {
  background: linear-gradient(0deg, #020014 0%, #0a005e 100%);
  animation: linear midnight infinite var(--animation-speed);
}

/* original cycle */
@keyframes dawn {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }
}

@keyframes noon {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

@keyframes dusk {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}

@keyframes midnight {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
}



/* *************** ORBIT SUN / MOON ************** */

.sun {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  background-color: #fed766;
  border-radius: 50%;
  box-shadow: 0 0 14px 14px #fed76633;
}

.moon {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 7px 7px #ffffff33;
}

.orbitSun {
  border: 2px solid limegreen;
  position: relative;
  top: 215px;
  width: 575px;
  height: 575px;
  transform: rotate(0deg);
  animation: linear sunrise infinite var(--animation-speed);
}

.orbitMoon {
  border: 2px solid magenta;
  position: relative;
  top: 215px;
  width: 575px;
  height: 575px;
  margin-top: -575px;
  transform: rotate(0deg);
  animation: linear moonrise infinite var(--animation-speed);
}

/* Media queries for sun and moon orbit size */

@keyframes sunrise {
  from {
    transform: rotate(-50deg);
  }

  to {
    transform: rotate(310deg);
  }
}

@keyframes moonrise {
  0% {
    transform: rotate(-50deg);
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  98% {
    opacity: 0;
  }

  100% {
    transform: rotate(310deg);
    opacity: 0;
  }
}


/* END ISLAND ANIMATIONS */
















/* *************** UNDER SEA ************** */

.underSea {
  background-image: linear-gradient(180deg, #04fafd, #119dff, #262dec);
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* GALLERY DISPLAY TITLE */

.projectTitle {
  /* border: 2px solid magenta; */
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -5vh 0vh 30vh 0vh;

}

.projectEntry {
  /* border: 2px solid black; */

}

.projectLetter {
  /* border: 2px solid gold; */
  font-family: water;
  color: gold;
}

.letterDiv {
  /* border: 2px solid red; */
  width: 11.5vw;
  height: 11.5vw;
}

.projectOveride {
  font-size: 9vw;
}







/* PROJECT LIST */


.projectContainer {
  /* border: 2px solid magenta; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7vh;
  margin-bottom: 10vh;
}


.projectSquare {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30vw;
  width: 70vw;
}

.titlePhoto {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 7;
}

.projectImage {
  width: 75%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 40px darkblue;
  border: white solid 2px;
}

.buttonDesc {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 2.5;
}

.bubbleDiv {
  /* border: 2px solid gold; */
  animation: float 7s ease-in-out infinite;
  width: 14vw;
  height: 14vw;
  font-size: 4vw;

}

.projectDescription {
  /* border: 2px solid orange; */
  font-size: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
}

a {
  text-decoration: none;
  color: rgb(0, 255, 221);
  transition: 0.2s;
  font-family: water;
}

a:hover {
  color: white;
}

.marginAdjust {
  margin-top: 10px;
}

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Bubble CSS */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image:
    radial-gradient(8% 8% at 22% 28%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 23% 27%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 24% 26%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 25% 25%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 26% 24%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 27% 23%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%),
    radial-gradient(8% 8% at 28% 22%, hsl(0, 0%, 100%) 45%, hsla(0, 0%, 100%, 0) 50%);
  box-shadow:
    0 -0.06em 0.1em hsl(0, 90%, 100%) inset,
    0 -0.15em 0.4em hsl(0, 90%, 100%) inset,
    0 0.05em 0.05em hsl(0, 90%, 100%) inset,
    0.05em 0 0.1em hsl(0, 90%, 100%) inset,
    -0.05em 0 0.1em hsl(0, 90%, 100%) inset,
    0 0.1em 0.4em hsl(0, 90%, 100%) inset;
  transform-style: preserve-3d;
  filter: drop-shadow(0.45em 0.45em 8px hsla(0, 0%, 0%, 0.661));
  cursor: pointer;
  transition: 0.3s;
}

.bubble:hover {
  box-shadow:
    0 -0.06em 0.1em hsl(175, 98%, 50%) inset,
    0 -0.15em 0.4em hsl(175, 98%, 50%) inset,
    0 0.05em 0.05em hsl(0, 90%, 100%) inset,
    0.05em 0 0.1em hsl(175, 98%, 50%) inset,
    -0.05em 0 0.1em hsl(175, 98%, 50%) inset,
    0 0.1em 0.4em hsl(0, 90%, 100%) inset;
  transform: scale(1.1);
}






/* ABOUT SECTION */

.aboutDiv {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 90vw;
  font-family: water;
  padding-top: 12vh;
}

.aboutMe {
  /* border: 2px solid red; */
  width: 30vw;
  height: 30vw;
  font-size: 6vw;
  margin-bottom: 15vh;
  transition: 0.2s;
  animation: float 4s ease-in-out infinite;

}

.creativeBubble,
.leaderBubble,
.visionBubble,
.balanceBubble,
.energyBubble,
.passionBubble,
.adaptBubble,
.integrityBubble {
  position: relative;
  /* border: 2px solid gold; */
  color: blue;
}

.energyBubble {
  width: 10vw;
  height: 10vw;
  font-size: 2vw;
  top: 0vh;
  left: 54vw;
}

.leaderBubble {
  width: 8vw;
  height: 8vw;
  font-size: 2.25vw;
  top: -8vh;
  left: 30vw;
}

.visionBubble {
  width: 12vw;
  height: 12vw;
  font-size: 3vw;
  top: -9vh;
  left: 43vw;
}

.balanceBubble {
  width: 14vw;
  height: 14vw;
  font-size: 2.75vw;
  top: -15vh;
  left: 14vw;
}

.creativeBubble {
  width: 12vw;
  height: 12vw;
  top: -23vh;
  left: 65vw;
  font-size: 2.75vw;
}

.passionBubble {
  width: 18vw;
  height: 18vw;
  font-size: 4vw;
  top: -29vh;
  left: 27vw;
}

.adaptBubble {
  width: 16vw;
  height: 16vw;
  font-size: 4vw;
  top: -41vh;
  left: 51vw;
}

.integrityBubble {
  width: 20vw;
  height: 20vw;
  font-size: 3.25vw;
  top: -40vh;
  left: 34vw;
}






/* BUBBLE ANIMATIONS */

@keyframes float {

  from,
  to {
    transform: translate(0, 2%);
  }

  25% {
    transform: translate(0%, -2%);
  }

  50% {
    transform: translate(0, 2%);
  }

  75% {
    transform: translate(0%, -2%);
  }
}

@keyframes floatOne {

  from,
  to {
    transform: translate(0%, 8%);
  }

  25% {
    transform: translate(0%, -2%);
  }

  50% {
    transform: translate(0%, 4%);
  }

  75% {
    transform: translate(0%, -6%);
  }
}
@keyframes floatTwo {

  from,
  to {
    transform: translate(0%, 8%);
  }

  22% {
    transform: translate(3%, 0%);
  }

  46% {
    transform: translate(3%, 4%);
  }

  70% {
    transform: translate(0%, -5%);
  }
}
@keyframes floatThree {

  from,
  to {
    transform: translate(1%, 6%);
  }

  28% {
    transform: translate(0%, 0%);
  }

  54% {
    transform: translate(2%, 4%);
  }

  79% {
    transform: translate(0%, -7%);
  }
}






/* Media Queries for Mobile */
@media (max-width: 390px) {

  /* Island */

  .islandPage {
    /* border: 2px solid red; */
    height: 87vh;
  }
  .islandPage .waves .wave {
    height: 7.25vh;
  }
  .sun {
    width: 60px;
    height: 60px;
  }
  .moon {
    width: 60px;
    height: 60px;
  }
  .orbitSun {
    width: 500px;
    height: 500px;
  }
  .orbitMoon {
    width: 500px;
    height: 500px;
    margin-top: -500px;
  }
  h1 {
    /* border: 2px solid yellow; */
    bottom: 70vh;
    font-size: 7.5vh;
  }
  .logoContainer {
    /* border: 2px solid yellow; */
    flex-direction: column;
    left: 8vw;
    bottom: 62vh;
  }
  .logo {
    /* border: 2px solid orange; */
    width: 30vw;
    height: 30vw;
  }
  .island {
    width: 100vh;
    max-width: 80vh;
  }



  /* descriptors */

  .marginAdjust {
    margin-top: 5px;
  }
  

  .aboutDiv {
    border: 2px solid green;
    padding-top: 10vh;
  }
      
  .energyBubble {
    width: 14vw;
    height: 14vw;
    font-size: 3vw;
    top: 0vh;
    left: 54vw;
  }
  
  .leaderBubble {
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
    top: -4vh;
  }
  
  .visionBubble {
    width: 12vw;
    height: 12vw;
    font-size: 3vw;
    top: -4vh;
    left: 43vw;
  }
  
  .balanceBubble {
    width: 14vw;
    height: 14vw;
    font-size: 2.75vw;
    top: -7vh;
    left: 14vw;
  }
  
  .creativeBubble {
    width: 12vw;
    height: 12vw;
    top: -12vh;
    left: 65vw;
    font-size: 2.75vw;
  }
  
  .passionBubble {
    width: 18vw;
    height: 18vw;
    font-size: 4vw;
    top: -15vh;
    left: 27vw;
  }
  
  .adaptBubble {
    width: 16vw;
    height: 16vw;
    font-size: 4vw;
    top: -20vh;
    left: 51vw;
  }
  
  .integrityBubble {
    width: 20vw;
    height: 20vw;
    font-size: 3.25vw;
    top: -20vh;
    left: 34vw;
  }





  .aboutMe {
    /* border: 2px solid red; */
    width: 25vh;
    height: 25vh;
    font-size: 8vw;
    margin-bottom: 20vw;  
  }

  

  
}
