* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #101024; */

}

.islandPage {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: #101024;
}

.islandPage .waves {
  position: relative;
  width: 100%;
}

.islandPage .waves .wave {
  /* border: 2px solid blue; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(./Images/wave.png);
  background-size: 1000px 100px;
}

.islandPage .waves .wave#waveOne {
  /* border: 2px solid green; */
  opacity: 0.5;
  /* bottom: 0; */
  z-index: 1000;
  animation: oceanWaves 4s linear infinite;
}
.islandPage .waves .wave#waveTwo {
  /* border: 2px solid gold; */
  opacity: 0.5;
  /* bottom: 10px; */
  z-index: 999;
  animation: oceanWaves2 4s linear infinite;
}
.islandPage .waves .wave#waveThree {
  /* border: 2px solid gold; */
  opacity: 0.2;
  /* bottom: 15px; */
  z-index: 998;
  animation: oceanWaves 2s linear infinite;
}
.islandPage .waves .wave#waveFour {
  /* border: 2px solid gold; */
  opacity: 0.7;
  /* bottom: 20px; */
  z-index: 999;
  animation: oceanWaves2 2s linear infinite;
}

@keyframes oceanWaves {
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes oceanWaves2 {
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

.stars {
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  mix-blend-mode: screen;
}

h1 {
  position: absolute;
  bottom: 80vh;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
}

.island {
  /* border: 2px solid magenta; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  /* width: 75%; */
  bottom: 0;
}




/* *************** UNDER SEA ************** */
/* Parallax */

.underSea {
  /* background-color: #3586ff; */
  background-image: linear-gradient(to top, #3586ff, #3586ff );
  height: 2000px;

}