* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --animation-speed: 30s;
  /* background-color: #251d18; */
}

.islandPage {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-color: #101024;

  overflow: hidden;
}

/* Island Waves  */

.islandPage .waves {
  position: relative;
  width: 100%;
}

.islandPage .waves .wave {
  /* border: 2px solid blue; */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: url(./Images/oceanWave.png);
  background-size: 1000px 100px;
}

.islandPage .waves .wave#waveOne {
  /* border: 2px solid green; */
  opacity: 0.5;
  /* bottom: 0; */
  z-index: 1000;
  animation: oceanWaves 4s linear infinite;
}
.islandPage .waves .wave#waveTwo {
  /* border: 2px solid gold; */
  opacity: 0.5;
  /* bottom: 10px; */
  z-index: 999;
  animation: oceanWaves2 4s linear infinite;
}
.islandPage .waves .wave#waveThree {
  /* border: 2px solid gold; */
  opacity: 0.2;
  /* bottom: 15px; */
  z-index: 998;
  animation: oceanWaves 2s linear infinite;
}
.islandPage .waves .wave#waveFour {
  /* border: 2px solid gold; */
  opacity: 0.7;
  /* bottom: 20px; */
  z-index: 999;
  animation: oceanWaves2 2s linear infinite;
}

@keyframes oceanWaves {
  0% { background-position-x: 1000px; }
  100% { background-position-x: 0px; }
}
@keyframes oceanWaves2 {
  0% { background-position-x: 0px; }
  100% { background-position-x: 1000px }
}

.stars {
  /* border: 2px solid blue; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  mix-blend-mode: screen;
}

.island {
  /* border: 2px solid magenta; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  bottom: 0;
}


/* ****************** TITLE ***************** */
h1 {
  position: absolute;
  bottom: 80vh;
  transform: translateY(50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 6em;
  font-weight: 800;
  text-transform: uppercase;
}
.logoContainer {
  height: 125px;
  position: absolute;
  left: 10vw;
  bottom: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.alias {
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: 800;
}
.titleBen {
  animation: linear titleName infinite var(--animation-speed);
}
.titleStingray {
  animation: linear titleAlias infinite var(--animation-speed);
}

@keyframes titleName {
  0% { opacity: 0; }
  15% { opacity: 0; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes titleAlias {
  0% { opacity: 0; }
  58% { opacity: 0; }
  70% { opacity: 1; }
  85% { opacity: 1; }
  95% { opacity: 0; }
  100% { opacity: 0; }
}





/* ************** sky animation ****************** */

.skyPhase {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s;
}

.skyDawn {
  background: linear-gradient( 0deg, #ff5900 0%, #fed766 30%, #cdedf6 100% );
  animation: linear dawn infinite var(--animation-speed);
}
.skyNoon {
  background: linear-gradient( 0deg,#cdedf6 0%, #247ba0 100% );
  animation: linear noon infinite var(--animation-speed);
}
.skyDusk {
  background: linear-gradient( 0deg,#ff206e 0%,#0a005e 100% );
  animation: linear dusk infinite var(--animation-speed);
}
.skyMidnight {
  background: linear-gradient( 0deg,#020014 0%,#0a005e 100% );
  animation: linear midnight infinite var(--animation-speed);
}

/* original cycle */
@keyframes dawn {
  0% { opacity: 1; }
  25% { opacity: 1; }
  60% { opacity: 0; }
  90% { opacity: 1; }
}
@keyframes noon {
  0% { opacity: 0; }
  30% { opacity: 1; }
  75% { opacity: 0; }
}
@keyframes dusk {
  0% { opacity: 0; }
  35% { opacity: 0; }
  60% { opacity: 1; }
  80% { opacity: 0; }
}
@keyframes midnight {
  0% { opacity: 1; }
  10% { opacity: 0; }
  50% { opacity: 0; }
  70% { opacity: 1; }
}



/* *************** ORBIT SUN / MOON ************** */

.sun {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  background-color: #fed766;
  border-radius: 50%;
  box-shadow: 0 0 14px 14px #fed76633;
}

.moon {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 7px 7px #ffffff33;
}

.orbitSun {
  /* border: 2px solid limegreen; */
  position: relative;
  top: 215px;
  width: 575px;
  height: 575px;
  transform: rotate(0deg);
  animation: linear sunrise infinite var(--animation-speed);
}
.orbitMoon {
  /* border: 2px solid magenta; */
  position: relative;
  top: 215px;
  width: 575px;
  height: 575px;
  margin-top: -575px;
  transform: rotate(0deg);
  animation: linear moonrise infinite var(--animation-speed);
}

@keyframes sunrise {
  from { transform: rotate(-50deg); }
  to { transform: rotate(310deg); }
}
@keyframes moonrise {
  0% { transform: rotate(-50deg); opacity: 0; }
  55% { opacity: 0; }
  65% { opacity: 1; }
  90% { opacity: 1; }
  98% { opacity: 0; }
  100% { transform: rotate(310deg); opacity: 0; }
}










/* *************** UNDER SEA ************** */
/* Parallax? */

.underSea {
  height: 1200px;
  background-image: linear-gradient(to bottom, #3586ff, #051937 );
}


